{% extends "base.html" %}
{% block content %}

    
        <article class="media content-section">
    
          <div class="media-body">
            <div class="article-metadata">
              <!-- <a class="mr-2" href="#">{{ post.author }}</a> -->
              <small class="text-muted">{{ posts.pub_date|date:"F d, Y" }}</small>
            </div>
            
            <form action="{% url 'polls:vote' question.id %}" method="post">
                {% csrf_token %}
                <fieldset>
                    <h2><a class="article-title" href="">Question : {{ question.question_text }}</a></h2>
                    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
                    {% for choice in question.choice_set.all %}
                        <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
                        <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
                    {% endfor %}
                </fieldset>
                <input class="mt-2" type="submit" value="Vote">
            </form>
            </article>
          </div>

          
   
{% endblock content %}